/* Fase 1 */
grid-column-start: 3;

/* Fase 2 */
grid-column-start: 5;

/* Fase 3 */
grid-column-end: 4;

/* Fase 4 */
grid-column-end: 2;

/* Fase 5 */
grid-column-end: -2;

/* Fase 6 */
grid-column-start: -3;

/* Fase 7 */
grid-column-end: span 2;

/* Fase 8 */
grid-column-end: span 5;

/* Fase 9 */
grid-column-start: span 3;

/* Fase 10 */
grid-column: 4/6;

/* Fase 11 */
grid-column: span 3/5;

/* Fase 12 */


/* Fase 13 */


/* Fase 14 */


/* Fase 15 */


/* Fase 16 */


/* Fase 17 */


/* Fase 18 */


/* Fase 19 */


/* Fase 20 */


/* Fase 21 */


/* Fase 22 */


/* Fase 23 */


/* Fase 24 */


/* Fase 25 */


/* Fase 26 */


/* Fase 27 */


/* Fase 28 */

